.loading {
    width: 100%;
    max-width: 80rem;
    padding: 0 1rem;
    margin: 1.5 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading__title {
    font-size: 24px;
}

.container {
    width: 100%;
    max-width: 1278px;
    padding: 0 2rem;
    margin: 7rem auto;
}

.product_detail {
    width: 100%;
    display: flex;
    padding: 0 3rem;
}

.image_container {
    flex: 1 1 0;
    width: 100%;
}

.image {
    width: 100%;
    max-width: 18rem;
    height: auto;
    display: block;
    object-fit: contain;
    margin: auto;
}

.information {
    flex: 1 1 0;
}

.information__title {
    font-weight: bold;
    font-size: 18px;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
}

.information__description {
    margin: 1.5rem 0;
    text-align: justify;
}

.payment {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.payment__price {
    font-size: 18px;
    color: rgba(56, 56, 56, 0.89); 
}

.payment__btn {
    padding: 0.25rem;
    background-color: #006FAA;
    border-radius: 0.25rem;
    border: none;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .product_detail {
        flex-direction: column;
        padding: 0;
    }
}